.Tittle{
    padding-left: 300px;
    background-color: aqua;
}
.lol{
    padding-left: 500px;
    padding-top: 0px;
}
.Intro{
    padding-bottom: 20px;
}
.lop{
    padding-left:0px;
    padding-top: 0px;
    background-color: darkcyan;
}
.selection{
    margin-left: 350px;
    padding-top: 50px;
}
nav{
    padding-top: 300px;
}
.checkbox{
    padding-right: 100px;
}
.form{
    padding-right: 50px;
}
.loi{
    padding-left: 300px;
}